language: ruby
env:
  global:
  - TRAVIS=true
  matrix:
  - TASK=rspec spec
rvm:
- 2.1.0
services:
- redis-server
before_script:
- cp config/config.yml.example config/config.yml
- psql -c "CREATE USER base_app WITH PASSWORD 'password1' CREATEDB;" -U postgres
- bundle exec rake db:setup
script:
- bundle exec $TASK
notifications:
  email: false
  irc:
    channels:
      - "chat.freenode.net#kreisverkehr"
deploy:
  provider: heroku
  api_key:
    secure: UrPJvmTpJahR1EyDeekf0sJmAd4e/PBjXCKOlavK1XOk9xY/8em1JSljVHB0xvz3R4D5g5lx3jlc36oQW1NZL1NsqD+A4wlXirU84HdNpXEl1pJPwBpaex/dQshLCOZ9OXCVBIQNUxnJ0fTkH8vF/HCCdjE0tnujoQWzYRRYUGk=
  run: "rake db:migrate"
  app: base-app-flowerpot
  on:
    repo: flower-pot/base-app
