defaults: &defaults

  #general
  host: 'example.com'
  email: 'change-me@example.com'

  #smtp settings
  smtp:
    enabled: false
    user: 'smtp user'
    password: 'smtp password'
    host: 'smtp host'
    port: 'smtp port'
    domain: 'smtp domain'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
