defaults: &defaults

  #general
  host: 'example.com'
  email: 'change-me@example.com'

  #smtp settings
  smtp:
    enabled: false
    user: 'smtp user'
    password: 'smtp password'
    host: 'smtp host'
    port: 'smtp port'
    domain: 'smtp domain'

  #github oauth
  #omniauth:
  #  enabled: false
  #  client_id: 'your_client_id'
  #  client_secret: 'your_client_secret'

  #redis settings
  #redis:
  #  url: 'redis://username:password@my.host:6389'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
